.text .text-right {
  position: fixed;
  top: 0rem;
  left: 60rem;
  right: 0;
  bottom: 0;
  height: 100%;
  border: 2px solid pink;
}
.text .text-right .block1 {
  position: relative;
  width: 240px;
  height: 8rem;
  margin: auto;
  margin-top: 1rem;
  background: #ffffff;
  border: 1px solid #ffffff;
  z-index: 100;
}
.text .text-right .block1 .first {
  display: flex;
}
.text .text-right .block1 .first .left {
  width: 1.975rem;
  height: 1.975rem;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
}
.text .text-right .block1 .first .center {
  font-size: 1.6rem;
  margin-top: 1.25rem;
  margin-left: 0.75rem;
}
.text .text-right .block1 .first .right {
  font-size: 0.937rem;
  margin-top: 1.0625rem;
  margin-left: 0.9rem;
  padding: 7px 10px;
  border: 1px solid #007fff;
  border-radius: 2rem;
  color: #007fff;
}
.text .text-right .block1 .first .right:hover {
  background: #d2e8ff;
}
.text .text-right .block1 .second {
  font-size: 0.9375rem;
  margin-top: 0.925rem;
  margin-left: 3.75rem;
}
.text .text-right .block2 {
  position: relative;
  max-width: 260px;
  height: 17rem;
  margin: auto;
  margin-top: 2rem;
  padding-left: 20px;
  z-index: 100;
}
.text .text-right .block2 .pic-text {
  height: 17rem;
  width: 20rem;
  z-index: -1;
}
.text .text-right .block2 .pic-text .pic {
  height: 17rem;
  width: 20rem;
}
.text .text-right .block2 .pic-text .wenben {
  font-size: 10px;
  text-align: center;
  position: relative;
  width: 3.5rem;
  height: 1.4rem;
  margin-top: -30px;
  margin-left: 190px;
  color: #ffffff79;
  background-color: #71777c7b;
  border: 1px solid #ffffff79;
}
.text .text-right .block3 {
  position: relative;
  max-width: 260px;
  height: 17rem;
  margin: auto;
  margin-top: 2rem;
  padding-left: 20px;
  z-index: 100;
}
.text .text-right .block3 .pic-text {
  height: 17rem;
  width: 20rem;
  z-index: -1;
}
.text .text-right .block3 .pic-text .pic {
  height: 17rem;
  width: 20rem;
}
.text .text-right .block3 .pic-text .wenben {
  font-size: 10px;
  text-align: center;
  position: relative;
  width: 3.5rem;
  height: 1.4rem;
  margin-top: -30px;
  margin-left: 190px;
  color: #ffffff79;
  background-color: #71777c7b;
  border: 1px solid #ffffff79;
}
.text .text-right .block4 {
  position: relative;
  max-width: 240px;
  height: 6rem;
  margin: auto;
  margin-top: 2rem;
  background: #ffffff;
  border: 1px solid #ffffff;
}
.text .text-right .block4 .show {
  display: flex;
}
.text .text-right .block4 .show .pic {
  flex: 1;
  padding-top: 10px;
  padding-left: 10px;
  height: 4.5rem;
  width: 3rem;
}
.text .text-right .block4 .right {
  flex: 3;
}
.text .text-right .block4 .right .first {
  font-size: 1.2rem;
  padding-top: 10px;
  padding-left: 12px;
  color: #000000;
}
.text .text-right .block4 .right .second {
  font-size: 1rem;
  padding-top: 10px;
  padding-left: 12px;
}
.text .text-right .block5 {
  position: relative;
  max-width: 240px;
  height: 26rem;
  margin: auto;
  margin-top: 2rem;
  background: #ffffff;
  border: 1px solid #ffffff;
}
.text .text-right .block5 .first {
  height: 4rem;
  display: flex;
  border-bottom: 1px solid #dcd9d9;
}
.text .text-right .block5 .first .pic {
  flex: 0.01;
  height: 2.5rem;
  padding-left: 10px;
  padding-top: 5px;
}
.text .text-right .block5 .first .wenben {
  flex: 100;
  font-size: 1.2rem;
  padding-top: 10px;
  padding-left: 5px;
}
.text .text-right .block5 .second {
  height: 17.5rem;
  border-bottom: 1px solid #dcd9d9;
}
.text .text-right .block5 .second .one {
  height: 5.5rem;
  display: flex;
}
.text .text-right .block5 .second .one:hover {
  background: #f4f5f5;
}
.text .text-right .block5 .second .one .pic {
  flex: 1;
  height: 4rem;
  width: 4rem;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 100%;
}
.text .text-right .block5 .second .one .right {
  flex: 5;
  margin-top: 10px;
  margin-left: 10px;
}
.text .text-right .block5 .second .one .right .right-one {
  display: flex;
}
.text .text-right .block5 .second .one .right .right-one .name {
  flex: 1;
  font-size: 1.2rem;
  color: #000000;
  padding-top: 5px;
  padding-left: 5px;
  width: 10px;
}
.text .text-right .block5 .second .one .right .right-one .pic1 {
  flex: 1;
  height: 2.5rem;
  width: 2rem;
  margin-right: 3rem;
}
.text .text-right .block5 .third {
  height: 5rem;
}
.text .text-right .block5 .third .wenben {
  display: flex;
}
.text .text-right .block5 .third .wenben .one {
  display: flex;
  font-size: 1.7rem;
  color: #1E80FF;
  padding-top: 10px;
  padding-left: 70px;
}
.text .text-right .block5 .third .wenben .two {
  flex: 1;
  font-size: 1.7rem;
  color: #1E80FF;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: 700;
}
.text .text-right .block6 {
  position: relative;
  max-width: 240px;
  height: 19.45rem;
  margin: auto;
  margin-top: 2rem;
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.text .text-right .block6 .one {
  height: 6.5rem;
  display: flex;
}
.text .text-right .block6 .one:hover {
  background: #f4f5f5;
}
.text .text-right .block6 .one .pic {
  flex: 2;
  height: 4.5rem;
  border-radius: 20%;
  padding-top: 10px;
  padding-left: 10px;
}
.text .text-right .block6 .one .right {
  flex: 7;
  font-size: 1.2rem;
  color: #000000;
  padding-top: 30px;
  padding-left: 5px;
}
.text .text-right .block7 {
  position: relative;
  max-width: 240px;
  height: 19.45rem;
  margin: auto;
  margin-top: 2rem;
}
.text .text-right .block7 .one {
  display: flex;
}
.text .text-right .block7 .one .wen {
  font-size: 0.5rem;
  padding: 10px 0 0px 5px;
}
.text .text-right .block7 .one .wen:hover {
  color: #1E80FF;
}
.text .text-right .block7 .two {
  padding: 5px 0 0px 5px;
}
.text .text-right .block7 .two .whole {
  display: flex;
}
.text .text-right .block7 .two .pic {
  height: 2rem;
  width: 2rem;
}
.text .text-right .block7 .two .wen {
  font-size: 0.5rem;
  padding-top: 5px;
  padding-left: 3px;
}
.text .text-right .block7 .two .wen:hover {
  color: #1E80FF;
}
.text .text-right .block7 .three {
  padding: 5px 0 0px 5px;
}
.text .text-right .block7 .three .wen {
  padding-bottom: 5px;
  font-size: 0.5rem;
  color: #909090;
}
.text .text-right .block7 .three .wen1 {
  padding-bottom: 5px;
  font-size: 0.5rem;
  color: #909090;
  display: flex;
}
.text .text-right .block7 .three .wen1 .one {
  flex: 0.5;
}
.text .text-right .block7 .three .wen1 .two {
  flex: 7;
  padding-top: 2px;
  padding-left: 10px;
}
.text .text-right .block7 .three .wen1 .two:hover {
  color: #1E80FF;
}
.text .text-right .block8 {
  position: relative;
  max-width: 240px;
  height: 5rem;
  margin: auto;
  margin-top: 1rem;
}
.text .text-right .block8 .pic {
  width: 3rem;
  height: 3rem;
}
