html {
  font-size: 12px;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial !important;
}
.icon {
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #909090;
  background-color: transparent;
}
a,
button,
input {
  margin: initial;
}
button,
input {
  overflow: visible;
}
ul {
  padding: 0;
  margin: 0;
}
nav {
  display: block;
}
.top-bar-wrapper {
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  color: #909090;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
}
.top-bar-wrapper .top-bar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto;
  max-width: 1440px;
  position: relative;
}
.top-bar-wrapper .top-bar .logo {
  margin-right: 1rem;
  margin-left: 24px;
  display: inline-block;
  height: 22px;
  width: auto;
  cursor: pointer;
  color: #909090;
}
.top-bar-wrapper .top-bar .logo img {
  display: block;
  width: 107px;
  height: 22px;
  border-style: none;
}
.top-bar-wrapper .main-nav {
  height: 100%;
  flex: 1 0 auto;
  display: block;
}
.top-bar-wrapper .main-nav .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-direction: row-reverse;
  height: 100%;
  margin: 0;
  padding: 0;
}
.top-bar-wrapper .main-nav .nav-list .left-nav-list {
  display: flex;
  order: 99;
  list-style: none;
  text-align: -webkit-match-parent;
}
.top-bar-wrapper .main-nav .nav-list .left-nav-list .list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: circle;
}
.top-bar-wrapper .main-nav .nav-list .left-nav-list .list li,
.top-bar-wrapper .main-nav .nav-list .left-nav-list .list nav {
  position: relative;
  padding: 0;
  height: 5rem;
  color: #86909c;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  list-style: none;
  font-size: 1.167rem;
}
.top-bar-wrapper .main-nav .nav-list .left-nav-list .list li a,
.top-bar-wrapper .main-nav .nav-list .left-nav-list .list nav a {
  display: inline-block;
  height: 5rem;
  margin: 0 1rem;
  line-height: 5rem;
  position: relative;
  cursor: pointer;
}
.top-bar-wrapper .main-nav .nav-list .left-nav-list .list li a::before,
.top-bar-wrapper .main-nav .nav-list .left-nav-list .list nav a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 100%;
  margin: 0;
  order: 0;
  padding: 0;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add {
  flex: 1 1 auto;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add .search-add-ul {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 42.833rem;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add .search-add-ul .search {
  cursor: auto;
  padding-left: 0;
  color: #86909c;
  padding: 0 1rem;
  font-size: 1.167rem;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add .search-add-ul .search .search-form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  position: relative;
  height: 2.834rem;
  border: 1px solid #c2c8d1;
  transition: width 0.2s;
  margin-top: 0em;
  width: 360px;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add .search-add-ul .search .search-form .search-input {
  border: none;
  width: calc(100% - 44px);
  padding: 0.6rem 0 0.6rem 1rem;
  box-shadow: none;
  outline: none;
  color: #8a919f;
  background-color: transparent;
  transition: width 0.3s;
  margin: initial;
  overflow: visible;
  font: inherit;
  font-size: 1.1rem;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add .search-add-ul .search .search-form .search-icon-wrapper {
  position: relative;
  left: -2px;
  width: 44px;
  height: 30px;
  background: #f2f3f5;
  border-radius: 2px;
  display: block;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add .search-add-ul .search .search-form .search-icon-wrapper .search-icon {
  display: inline-block;
  width: 1.33rem;
  padding: 0 0.8333rem 0 0;
  cursor: pointer;
  margin: 7px 15px;
  border-style: none;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add .search-add-ul .creator-item {
  overflow: visible;
  width: 11rem;
  padding: 0 1rem;
  cursor: default;
  transition: width 0.3s;
  color: #86909c;
  padding-left: 5px;
  font-size: 1.167rem;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
  padding-right: 0;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add .search-add-ul .creator-item .add-group {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 115px;
  height: 3rem;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add .search-add-ul .creator-item .add-group .add-btn {
  padding: 0 1rem;
  font-size: 1.167rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  white-space: nowrap;
  height: 100%;
  color: #fff;
  background-color: #1e80ff;
  border-radius: 3px;
  transition: background-color 0.1s linear 0.05s;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin: initial;
  text-transform: none;
  font: inherit;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add .search-add-ul .creator-item .add-group .more {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.667rem;
  border-left: 1px solid hsla(0, 0%, 100%, 0.1);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-sizing: border-box;
  height: 100%;
  color: #fff;
  background-color: #1e80ff;
  border-radius: 3px;
  transition: background-color 0.1s linear 0.05s;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add .search-add-ul .creator-item .add-group .more svg {
  overflow: hidden;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .search-add .search-add-ul .creator-item .add-group .more-list {
  position: absolute;
  top: 120%;
  left: -7px;
  right: 0;
  padding: 0.417rem 0;
  font-size: 1.167rem;
  color: #515767;
  background-color: #fff;
  display: none;
  z-index: 1;
  box-shadow: 0 0 24px rgba(81, 87, 103, 0.16);
  border-radius: 6px;
  width: 10rem;
  margin: 0;
  cursor: pointer;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .vip {
  color: #86909c;
  padding: 0 1rem;
  font-size: 1.167rem;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  list-style: none;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .vip .vip-title {
  display: flex;
  align-items: center;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .vip .vip-title .vip-img {
  width: 24px;
  height: 24px;
  border-style: none;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .vip .vip-title .vip-word {
  color: #86909c;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-left: 4px;
  display: block;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .notice {
  position: relative;
  background-color: #fff;
  color: #86909c;
  padding: 0 1rem;
  padding-right: 2rem;
  font-size: 1.167rem;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  list-style: none;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .notice .notice-img {
  color: #515767;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  margin: initial;
  background-color: transparent;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .notice .notice-img .iconfont {
  fill: #8a919f;
  stroke: #8a919f;
  width: 24px;
  height: 24px;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .user-item {
  padding: 0 1rem;
  position: relative;
  padding-left: 0;
  background-color: #fff;
  padding-right: 0;
  color: #86909c;
  font-size: 1.167rem;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  list-style: none;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .user-item .user-div {
  display: block;
  color: #86909c;
  font-size: 1.167rem;
}
.top-bar-wrapper .main-nav .nav-list .right-nav-list .user-item .user-div .user-img {
  position: relative;
  object-fit: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
  background-color: #eee;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  border-style: none;
  color: #86909c;
  font-size: 1.167rem;
  cursor: pointer;
}
/*# sourceMappingURL=./index.css.map */